<!DOCTYPE html>
{% load static %}

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>JNGEC HOSTELS </title>
    <script src="https://kit.fontawesome.com/7221d1c8a9.js" crossorigin="anonymous"></script>

</head>



<body>

    <div class="navbar">

        <ul>

           
           <li><a href="#home">HOME </a></li>

            <li><a href="#about">ABOUT</a></li>

            <li><a href="#portfolio">GALLERY</a></li>

            <li><a href="#services">FACILITIES</a></li>
            {% comment %} <li><a href="rules">RULES</a></li> {% endcomment %}

            <li><a href="#contact">CONTACT</a></li>

        </ul>

    </div>

    <section id="home">
        
        <div class="main">
            <h1 class="headings"> JN HOSTEL<br><span>CUM HOME</span></h1>


            <button class="btn" ><a href="/login">Login</a></button>

        </div>

    </section>

    <section id="about">

        <h1 class="headings">About</h1>
        <div id="pic">

            <img src="static/images/hostel.png" alt="myimage">
        </div>
            <div class="intro">

                
<p><span>A hostel is a home away from home</span> . Aware of the special needs and requirements of students, who come from far-flung places to this centre of learning, the Panjab University tries to provide them a safe, secure and affordable accommodation. 
    <br>
    There are 7 Residence floors for students on the campus.
    These Halls, which accommodate more than 600 students, are named after eminent men , historical personality and great person Jawaharlal Nehru.
    The JNGEC Hostel take pains to give its students a neat and clean environment and a comfortable place to live in. There are Wardens/Hostel Staff on duty round the clock. Hostel has a dining hall and canteen, several desert and water coolers, a visitors' lounge, and invariably an outdoor court for badminton, volley ball etc. The mess provides a balanced diet at reasonable rates. There is provision for indoor games, LCD TV and music system. Internet connectivity through wi-fi been provided in hostel.
    <br>
    Architecturally, the hostels are aesthetically laid out with plenty of open space and a lot of greenery. The rooms are comfortable, fitted with fan, lights and hard furniture. Each wing of the hostel has several verandahs and balconies.
    <br>
    Comforts are important but they are not enough. Man is a social animal and needs to interact with others. The resident students are encouraged to participate in cultural and social activities. Colourful evenings of song and dance are not unusual on the campus. Talent shows, dramatics and literary events are organized from time to time. The inmates of a hostel are encouraged to live in harmony, like one big family, lending each other a helping hand whenever required, mutually cooperating to make hostel life a rich and fruitful experience.
    <br>Living in a hostel presupposes high degree of integrity, consciousness, cooperation, tolerance and hard work for a bright future and good image of our institution.
    <br>
    <br>
    <button><a href="https://www.google.com/maps/place/Jawaharlal+Nehru+Government+Engineering+College/@31.5160605,76.8762302,17z/data=!3m1!4b1!4m5!3m4!1s0x390519c99ae9747d:0x371b44d0ad43d692!8m2!3d31.5160605!4d76.8784189" target="_blank">LOCATE</a></button>
</p>



        </div>

    </section>
    <section id="portfolio">
        <h1 class="headings">IMAGE GALLERY</h1>
        <div class="gallery">
            
            <img src="/static/images/hostel.png" alt="galleryimage">
            <img src="/static/images/hostel2.png" alt="galleryimage">
            <img src="/static/images/volley.jfif" alt="galleryimage">
            <img src="/static/images/gym.jpg" alt="galleryimage">
            <img src="/static/images/room.jpg" alt="galleryimage">
            <img src="/static/images/canteen.jpg" alt="galleryimage">
            
        </div>
    </section>
    <section id="services">
        <h1 class="headings">FACILITIES</h1>
        <DIV class="row">
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-bed"></i>
                    <br>
                    ROOMS
                </h1>
                <p>The rooms has capacity of 400 students.The rooms are comfortable, fitted with fan, lights and hard furniture. Each wing of the hostel has several verandahs and balconies. Each room can accomodate two persons</p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-utensils"></i>
                    <br>
                    DINING
                </h1>
                <p>
                    The hostel premises comprises of a separate dining facility for hostel residents. The hostel mess has a separate dining hall and a well-equipped kitchen catering to more than 300 students. Mess serves breakfast, lunch, evening tea and dinner every day and the weekly menu is available with the mess in-charge. The food served is of high quality and meets the nutritional quality standards. Particular focus is laid to provide a well-balanced, nutritious diet with varying food tastes to all the students.

                </p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-dumbbell"></i>
                    GYM & SPORTS
                </h1>
                <P>The hostel is provided with Gym and sports facilities.
                    There is one gym, one Volleyball, one Badiminton, one Table tennis Court.
              </p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-wifi"></i>
                    WIFI
                </h1>
                <p>
                    Hostel premises has full access to high speed Wifi.
                    Hostellers can Choose the SSID "Hostel" / "JNHostel5G" (for residents of student hostels) and login with your personal network username and password</p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-restroom"></i>
                    <br>
               WASHROOMS
                </h1>
                <p>"En suite" means that the bathroom is attached to or inside your hostel room; generally (but not always), you'll get an en suite bathroom if you spring for a private hostel room. Sometimes you'll still have to share with the rest of the hostel even if you did decide to go private</p>
            </div>
      
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-parking"></i>
                    <br>
                  PARKING
                </h1>
                <p>There are separate areas designated for the parking in hostel.</p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-first-aid"></i>
                    <br>
                Medical Facilities
                </h1>
                <p>The Institute has a well-equipped Health Centre.
                    The services of the Medical Officer and the Staff Nurse are available.
                    Reimbursement up to ₹2,000/- in an academic year is admissible for emergency cases
                    duly recommended by the warden/medical officer</p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-tshirt"></i>
                    <br>
                Laundary
                </h1>
                <p>The institute provides complimentary Laundary services to all students residing in hostels.
                    The students have to get their Laundary cards issued to avail these services.</p>
            </div>
            <div class="box">
                <h1 class="headings">
                    <i class="fas fa-asterisk"></i>
                    <br>
                Other Facilities
                </h1>
                <p><ul>
                    <li>ATMS of SBI & HPSCB Banks.</li>
                    <li>Departmental/Confectionery Store</li>
                </ul></p>
            </div>
      
    </section>
    <hr>
    <section id="rules">
        <h1 class="headings">Rules And Regulations </h1>
        <p>
            <ul>
                <li>No student should stay away from his/her room during the night except in exceptional cases
                    with prior written permission of the warden. Any student, who wishes to leave the campus
                    temporarily or otherwise, should obtain the permission of warden in writing. Those applying
                    for permission must state the date and time of his/her intended departure and return as
                    well as the destination.</li>
<br>
           <li> Students are advised to avoid partying, playing loud music, singing aloud, shouting or
            making all types of noises which are likely to distract the attention of other hostellers.</li>
<br>
<li>Pets of all kinds are prohibited inside the hostels. Feeding stray dogs or cats in the hostel
    premises is not permitted.</li>
                </ul>

        </p>
    </section>
    <section id="contact">
        <h1 class="headings">CONTACT</h1>
        <form action="" class="form">
            JNGEC Sundernagar, Mandi H.P.-175018 <br>

            <a href="tel:+911907267688">Phone: +91 (0) 1907 267688 </a><br>
            
            <a href="http://www.jngec.ac.in/" target="_blank">Website: www.jngec.ac.in </a><br>
            
            Email: jngechp@yahoo.co.in <br>
            
            Last Updated: 14-01-2022 <br>
            
            

        </form>

    </section>
    <footer>
        ATUl DHIMAN (github/atuld037) &copy; 2021-present.
    </footer>
</body>



</html>